<div class="flex flex-col min-h-screen bg-primary">
    <header>
        <mat-toolbar class="!p-6 !bg-primary !text-accent">
            <span class="text-xl font-black">QST-MOVIES 🍿🎥</span>
            <span class="flex-auto"></span>
            <a mat-button routerLink="/movie/create">
                <mat-icon>add</mat-icon>
                Create movie
            </a>
            <a mat-button routerLink="/movie/list">
                <mat-icon>list</mat-icon>
                Movie list
            </a>
        </mat-toolbar>
    </header>
    <main class="grow p-6">
        <router-outlet></router-outlet>
    </main>
</div>